
.gallery-card {
    cursor: pointer;
    overflow: hidden;
    border-radius: 10px;
}

.gallery-card img {
    height: 250px;
    object-fit: cover;
    transition: 0.5s;
}

.gallery-card:hover img {
    transform: scale(1.1);
}
