.carousel {
    max-height: 500px;
    overflow: hidden;
}

.hero-img {
    height: 500px;
    object-fit: cover;
}

.carousel-caption {
    bottom: 5%;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    padding: 20px;
    border-radius: 10px;
}



.carousel-caption h2 {
    font-size: 40px;
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.carousel-caption p {
    font-size: 15px;
    max-width: 600px;
    margin: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.text-gold {
    color: #d4af37 !important;
}

.navbar {
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav-link {
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.3s;
}

.fix-top{
    padding-top: 100px;
}

h1 {
    font-family: 'Poppins', sans-serif;
}

