@page
@model HairdresserAppointmentClient.Pages.HairdresserModel
@{
}
<body class="bg-warning-subtle">

    <div class="card mt-5">

        <div class="card shadow-sm bg-body-tertiary">
            <div class="card-body">

                <h3 class="mb-5 ">Hairdresser Registration & Schedule</h3>

                <form method="post">

                    <div class="mb-4 col-md-5">
                        <label asp-for="Hairdresser.Name" class="form-label ms-2 fw-bold"></label>
                        <input asp-for="Hairdresser.Name" class="form-control" placeholder="Enter firstname" />
                    </div>

                    <h5 class="mb-3 ms-3">Schedule</h5>
                    
                    @for (int i = 0; i < Model.Hairdresser.WorkingHours.Count; i++)
                    {
                        <div class="row align-items-center mb-3">

                            <div class="col-md-1 ms-4 form-check">
                                <input type="checkbox" asp-for="Hairdresser.WorkingHours[i].Selected" class="form-check-input border-dark" />
                                <label class="form-check-label">
                                    @Model.Hairdresser.WorkingHours[i].DayOfWeek
                                </label>
                            </div>

                            <div class="col-md-5">
                                <input type="time" class="form-control" value="09:00" asp-for="Hairdresser.WorkingHours[i].StartTime" class="form-control" />
                            </div>

                            <div class="col-md-5">
                                <input type="time" class="form-control" value="19:00" asp-for="Hairdresser.WorkingHours[i].EndTime" />
                            </div>

                            <input type="hidden" asp-for="Hairdresser.WorkingHours[i].DayOfWeek" />
                        </div>
                    }

                    <div class="form-check form-switch mb-5">
                        <input type="checkbox" asp-for="Hairdresser.IsActive" class="form-check-input" />
                        <label asp-for="Hairdresser.IsActive" class="form-check-label fw-semibold">
                            Available for bookings
                        </label>
                    </div>

                    <button type="submit" class="btn btn-dark w-100">
                        Add Schedule
                    </button>

                </form>

            </div>
        </div>

    </div>

</body>